.dropdown-toggle {
  background-color: red;
  margin-left: 300px;
  margin-top: 100px;
  border-radius: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin-left: 300px;
  width: 100px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}
